
<body>

<div class="container p-3">
    <!-- <div class="container-close">&times;</div> -->
    <div class="row">
        <div class="col-sm-6">
            <a routerLink="/">
                <img
                    src="assets/images/Quizz masha.jpg"
                    alt="image"  
                >
            </a>
        </div>

        <div class="col-sm-6 ">
            <div class="container-text ">
                <!-- <h2>Ideas and UI components in your <br>inbox</h2> -->
                <h6 style="text-align:center;">Sign up to generate your user Id <br> which gives you acccess to our tests</h6>
                <br>
                <form [formGroup]="myReactiveForm" (ngSubmit)="onSubmit()" >
                                 
                  <div class="form-group">
                      <label for="FirstName">fullname *</label>
                      <input type="text" 
                          class="form-control ng-valid ng-dirty" id="txtFName"
                          required
                          formControlName="fname" #namePerson
                          placeholder="First Name"
                      >
                      <br>
          
                      <label for="email">email *</label>
                      <input type="email" 
                          email="true"
                          class="form-control ng-valid ng-dirty" 
                          required 
                          id="txtEmail" 
                          formControlName="email" 
                          #emailPerson
                          placeholder="Email"
                          
                      >
                      <p>Complete the form to enable button.</p>
                      <button type="submit" [disabled]="!myReactiveForm.valid">Submit</button>
                  </div>
                </form>
                <span>No spams included</span>
              </div>
        </div>
      </div>
    
    

   
  </div>


 
</body>
            
<ng-container *ngIf="display$ | async as display">
    <aside [class.open]="display === 'open'"
             (click)="close()">
      <div (click)="$event.stopPropagation()">
        <button class="close"
                type="button" 
                (click)="close()">X
        </button>

        <div class="d-flex justify-content-center">
            Congratulations!!!
        </div>
        <br>
        <div class="div">
            <p>You have successfully Register with Quiz Masha</p>
            <br>
        </div>
        <div class="d-flex justify-content-center">
            <p>Copy this user Id , as You will be prompted to fill it before accessing the Quiz</p>
        </div>
        <br>
        <div class="d-flex justify-content-center">
            <p><mark>{{id}}</mark></p>
        </div>
        <br>
        <div class="d-flex justify-content-center">
            <p>Page will refresh in <span>{{timer}}</span></p>
            
        </div>
      </div>
    </aside>
  </ng-container>            
            
            
        <!-- </div>
    </div> -->
<!-- Top banner end -->



<!-- modal -->
<!-- <ng-template #demoModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body" style="height: 500px;">
        <section class="fh5co-blog">
            <div class="site-container-fluid">
                <h2 class="universal-h2 universal-h2-bckg">Quizz Masha</h2>
                <div class="blog-slider blog-inner">
                    <div class="single-blog" style="padding: 0;">
                    
                        <div class="single-blog__text" style="width: 400px; height: 300px;margin-left: 30px;border-left: 1px gray;">
                            
                            <div class="d-flex justify-content-between p-2">Congratulations You have successfully Register with Quiz Masha</div>
                            <br>
                            <div class="d-flex justify-content-center">
                                <h3>Copy this user Id , as You will be prompted to fill it before accessing the Quiz</h3>
                                <h4><mark>{{genUniqueId()}}</mark></h4>
                            </div>
                            <div class="d-flex justify-content-center">
                                <h4 class="universal-h4 universal-h4-bckg">Your are now able to take a Quiz</h4>
                                <h4 class="universal-h4 universal-h4-bckg">All the best !!! </h4>
                            </div>
                            <br>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-dark"  (click)="modal.close('Save click')" >Certification</button>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
  
  </ng-template> -->

  

 
  <!-- <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
  <div class="modal-body">...</div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
      Close
    </button>
    <button type="button" class="btn btn-primary">Save changes</button>
  </div> -->
<!-- modal -->
<!-- </section> -->


