

<!-- question form -->
<section style="padding-top:55px">
    <div class="container">
        <div class="card">
            <div class="d-flex justify-content-center">
                 <h2 class="universal-h2 universal-h2-bckg">Quizz Masha</h2>

            </div>
            <br>
            <div class="d-flex justify-content-sm-center">
                <h4>Welcome {{fullname}}</h4>

            </div>
            <br>
            <br>
            <div class="d-flex justify-content-between p-2" style="padding-top:55px">
                <div class="questions-remain">
                    <span style="font-style: italic;"> Question {{currentQuestion+1}} 0f {{questionsList.length}}</span>
                </div>
                <div class="time">
                    
                    <span>{{ timer }} min:{{second}} sec</span>
                </div>
             </div>
          
             <!-- progress bar -->
            <div class="progress mb-3">
                <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" [ngStyle]="{'width':progressbar+'%'}" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <!-- quesion list -->
            <div class="quesions">
                <div class="card">
                    <h3>{{questionsList[currentQuestion]?.question}}</h3>
                </div>
            </div>
            <!-- options list -->
            <div class="options">
                <ul> 
                    <li  (click)="getAnswerClicked(answer)" 
                        *ngFor="let answer of questionsList[currentQuestion]?.answers | keyvalue"
                        
                    >
                        
                        <div class="card" *ngIf="answer.value !== null" [class.active]="answer === activeState">
                            {{answer.key}} :{{answer.value}}
                        </div>
                    </li>
                </ul>
            </div>
            <!-- buttons -->
            <div class="d-flex justify-content-center">
                <button (click)="submitQuiz()" class="btn btn-dark" 
                *ngIf="currentQuestion+1 <= questionsList.length"
                >
                    Submit
                </button> 
                <button (click)="finalsubmitQuiz()" class="btn btn-dark" 
                *ngIf="currentQuestion+1 > questionsList.length"
                >
                     Submit Your Quiz
                </button> 
            </div>
                           <!-- (click)="open(demoModal)" -->
            <!-- <div class="d-flex justify-content-center">
                <button  class="btn"  [disabled]="!clicked === false" *ngIf="currentQuestion+1 < questionsList.length" (click)="nextQuestion()"><i class="fa text-warning fa-chevron-right fa-3x" aria-hidden="true"></i></button>
            </div> -->

        </div>
    </div>
    
</section>




<!-- modal -->
<ng-template #demoModal let-modal>
    <div class="modal-header">
      <!-- <h4 class="modal-title" id="modal-basic-title">Profile update</h4> -->
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body" style="height: 500px;">
        <section class="fh5co-blog">
            <div class="site-container-fluid">
                <h2 class="universal-h2 universal-h2-bckg">Quizz Masha</h2>
                <div class="blog-slider blog-inner">
                    <div class="single-blog" style="padding: 0;">
                    
                        <div class="single-blog__text" style="width: 400px; height: 300px;margin-left: 30px;border-left: 1px gray;">
                            
                            <div class="d-flex justify-content-between p-2">Congratulations {{fullname}} You Finished The Quizz</div>
                            <br>
                            <div class="d-flex justify-content-between p-2">
                                <h4 class="universal-h4 universal-h4-bckg">Your Score is:</h4>
                                <h4 class="universal-h4 universal-h4-bckg">{{total}} %</h4>
                            </div>
                            <br>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-dark"  (click)="modal.close('Save click')" >Certification</button>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
  
  </ng-template>
<!-- modal -->

<script>
$(function(){
     $('li').hover(function(){
          $(this).addClass('highlight');
      }, function(){
          $(this).removeClass('highlight');
      });

      $('li').click(function(){
           $(this).addClass('highlight_stay');
      });
});

</script>