.cls-1 {
    fill: none;
  }
  .cls-19, .cls-2, .cls-22, .cls-23, .cls-29 {
    fill: #fff;
  }
  .cls-2 {
    stroke: #707070;
  }
  .cls-3 {
    clip-path: url(#clip-Artboard_2);
  }
  .cls-16, .cls-4 {
    fill: #000000;
  }
  .cls-5 {
    fill: orange;
  }
  .cls-14, .cls-17, .cls-6 {
    fill: orange;
  }
  .cls-7 {
    fill: #e0e1e1;
  }
  .cls-8 {
    clip-path: url(#clip-path);
  }
  .cls-9 {
    fill: url(#pattern);
  }
  .cls-10, .cls-13 {
    fill: #00162d;
  }
  .cls-10 {
    font-size: 96px;
  }
  .cls-10, .cls-16, .cls-20, .cls-22 {
    font-family: 'Montserrat', sans-serif;
  }
  .cls-10, .cls-16, .cls-17, .cls-20, .cls-22 {
    font-weight: 600;
  }
  .cls-11 {
    letter-spacing: -0.028em;
  }
  .cls-12 {
    letter-spacing: -0.073em;
  }
  .cls-13, .cls-14, .cls-16, .cls-19 {
    font-size: 48px;
  }
  .cls-13, .cls-15 {
    font-family: 'Lato', sans-serif;
  }
  .cls-13, .cls-14 {
    letter-spacing: 0.12em;
  }
  .cls-14 {
    font-family: FuturaBT-LightItalic, Futura Lt BT;
    font-style: italic;
  }
  .cls-14, .cls-21, .cls-23 {
    font-weight: 300;
  }
  .cls-15, .cls-20, .cls-21 {
    fill: #333234;
  }
  .cls-15 {
    font-size: 38px;
  }
  .cls-17 {
    font-size: 50px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
  }
  .cls-18 {
    fill: url(#linear-gradient);
  }
  .cls-19 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
  }
  .cls-20, .cls-22 {
    font-size: 36px;
  }
  .cls-21, .cls-23 {
    font-size: 27px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.1em;
    font-weight: 300;
  }
  .cls-24 {
    clip-path: url(#clip-path-6);
  }
  .cls-25 {
    fill: url(#pattern-1);
  }
  .cls-26 {
    clip-path: url(#clip-path-7);
  }
  .cls-27 {
    clip-path: url(#clip-path-8);
  }
  .cls-28 {
    fill: url(#pattern-3);
  }
  #printbutton{
    Background: orange;
    border: 1px solid orange;
    border-radius: 5px;
    font-size: 19px;
    padding: 15px 20px;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 4px;
    color: #fff;
    transition: all 0.3s ease;
  }
  #printbutton:hover,
  #printbutton:focus,
  #printbutton:active {
    Background: orange;
    border: 1px solid orange;
    color: #efefef;
  }